/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --Inter: Inter;
    --PressStart2P: PressStart2P;
    --card-title-weight: 700;
    --card-text-weight: 400;
    --header-title-font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --header-subtitle-font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
    --bg-color: #fff;
    --button-text-color: #fff;
    --accent-color: #000;
    --fill-color: #FF0000;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, rgb(0 0 0/0) 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, rgb(0 0 0/0) 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}